.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: 0 auto;
}

.footerCTA {
  text-align: left;
  width: 100%;
}

.footerCTA h2 {
  font-size: 2rem;
  font-weight: 700;
}

.footerCTA hr {
  width: 25%;
  margin: 1rem 0;
  background-color: #ff7518;
  height: 5px;
}

.footerCTA form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.subscribeMessage {
  color: red;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 2rem;
}

.footerCTA form input {
  height: 45px;
  width: 50%;
  margin-right: 10px;
}

.footerCTA p {
  margin-top: 1rem;
}
.footerCTA h1 {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .footer {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .footerCTA form {
    display: block;
    margin-top: 2rem;
    width: 100%;
  }

  .footerCTA form input {
    height: 45px;
    width: 100%;
    margin: 0;
  }

  .footerCTA form button {
    width: 100%;
    margin-top: 10px;
  }
  .subscribeMessage {
    color: red;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 2rem;
  }

  .footerCTA p {
    margin-top: 2rem;
  }

  .footerCTA h1 {
    margin: 0;
  }
}
