/* Root */
:root {
  font-size: 16px;
  --text-primary: #2e2e2e;
  --text-secondary: #f2f2f2;
  --bg-dark: #333333;
  --bg-dark-secondary: #22272d;
  --bg-light: #dbdbdb;
  --bg-primary: #ff7518;
  --bg-secondary: #00aaf0;
  --bg-accent1: #432f79;
  --bg-accent2: #e3d759;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 span,
h2 span,
h3 span,
h4 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: #d46317;
  border: 1px solid #d46317;
}

.btn-secondary {
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  color: #fff;
}

.btn-secondary:hover {
  background-color: #0085be;
  border: 1px solid #0085be;
}

.section {
  padding: 6rem;
  text-align: center;
}

.section h2 {
  font-size: 3rem;
}

.section .btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
}

.section-dark {
  background-color: var(--bg-dark);
  background-image: url('/static/chapters_texture_dark_alt.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-dark h2 {
  color: var(--text-secondary);
}

.section-dark h2 span {
  color: var(--text-secondary);
}

.section-dark p {
  color: var(--text-secondary);
}

.section-p-offset {
  padding-top: 3rem;
}

.check {
  opacity: 0.3;
  transition: all 0.2s ease-in;
}

.checkActive {
  opacity: 1;
  font-weight: bold;
  color: #0085be;
}

/* Navbar */
.signIn {
  margin-left: 10px;
  border-radius: 9999px;
  padding: 0 10px;
  background-color: var(--bg-secondary);
}

.navCTA {
  margin-left: 10px;
  border-radius: 9999px;
  padding: 0 10px;
  background-color: var(--bg-primary);
}

/* Media Queries */
@media screen and (max-width: 990px) {
  .signIn,
  .navCTA {
    margin: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
  }

  .section {
    padding: 4rem 0.5rem;
    padding-bottom: 2.5rem;
  }

  .section h2 {
    font-size: 1.9rem;
  }
}
