.header {
  height: 70vh;
  background-image: url('/static/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.copy {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.copy h1 {
  color: #fff;
  text-shadow: 0 0 2px #2e2e2e;
  font-size: 3rem;
  width: 65%;
  margin: 0 auto;
}

.copy h1 span {
  color: #fff;
}

.copy p {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
}

.copy form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}

.copy form input {
  width: 50%;
  padding: 25px;
  margin-right: 15px;
}

.copy form button {
  font-weight: 700;
  text-transform: uppercase;
}

.img img {
  width: 100%;
}
