.header {
  height: 60vh;
  /* min-height: 88vh; */
  background-image: url('/static/chapters_header_background_alt10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 120em;
  background-color: #0b1b39;
}

.headerWrapper {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.headerCopy {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerCopy h1 {
  margin: 0;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
}

.headerCopy h1 span {
  color: #00aaf0;
}

.headerCopy hr {
  width: 25%;
  margin: 2rem 0;
  background-color: #ff7518;
  height: 5px;
}

.headerCopy h4 {
  font-weight: 300;
  color: #fff;
}

.headerCopy h4 span {
  font-weight: bold;
  color: #fff;
}

.headerCTA {
  margin-top: 1rem;
  width: 40%;
  font-weight: bold;
}

.headerCopy p {
  margin-top: 2rem;
  color: #fff;
}

.playerWrapper {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .header {
    height: 70vh;
    /* min-height: 88vh; */
    background-image: url('/static/chapters_header_background_alt10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100em;
    background-color: #0b1b39;
    padding: 25px;
  }

  .headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .headerCopy {
    height: auto;
    display: block;
    min-height: 250px;
    text-align: center;
  }

  .headerCopy h1 {
    margin: 30px auto;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
  }

  .headerCopy h1 span {
    color: #00aaf0;
  }

  .headerCopy hr {
    display: none;
  }

  .headerCopy h4 {
    display: none;
  }

  .headerCTA {
    display: none;
  }

  .headerCopy p {
    display: none;
  }

  .playerWrapper {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
  }

  .playerWrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
