.header {
  height: 88vh;
  background-image: url('/static/chapters_header_background_alt5.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 115em;
}

.headerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.headerCopy {
  margin-top: 5rem;
}

.headerCopy h1 {
  margin: 0;
}

.headerCopy hr {
  width: 25%;
  margin: 1rem 0;
  margin-bottom: 3rem;
  background-color: #ff7518;
  height: 5px;
}

.headerCopy h3 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 700;
}

.headerCopy h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 1rem;
}

.headerCopy form {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.headerCopy form input {
  padding: 10px;
  width: 45%;
  box-shadow: 2px 2px 5px #2e2e2e62;
}

.headerCopy form button {
  margin-left: 10px;
  font-weight: 700;
}

.headerCopy p {
  margin-top: 2rem;
}

.headerImage {
  margin-top: 8rem;
  text-align: center;
}

.headerImage img {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}
