.navbarBackground {
  background-color: transparent;
  padding: 20px;
  color: #2e2e2e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
}

.navLink {
  color: #2e2e2e;
}

.signIn {
  margin-left: 10px;
  border-radius: 9999px;
  padding: 0 10px;
}

.navCTA {
  margin-left: 10px;
  border-radius: 9999px;
  padding: 0 10px;
}

.navbarToggler {
  color: black;
}
