.navbarBackground {
  height: 14vh;
}

.navbarBackground ul li {
  margin: 0 10px;
}

.navbarBackground ul li a {
  font-weight: bold;
}

@media screen and (max-wdith: 992px) {
  .navbarBackground a:last-child {
    margin: 0;
  }
}
