.navbarBackground {
  background-color: transparent;
  padding: 20px;
  color: #2e2e2e;
  background-color: #333333;
}

.navLink {
  color: #2e2e2e;
}

.navCTA {
  background-color: #ff7518;
  color: #f2f2f2;
  margin-left: 10px;
  border-radius: 9999px;
  padding: 0 10px;
}

.navbarToggler {
  color: black;
}
