.problem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 75%;
  margin: 0 auto;
}

.problemHeader {
  text-align: left;
}

.problemHeader h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.problemHeader h2 span {
  color: #00aaf0;
}

.problemHeader hr {
  width: 25%;
  margin: 2rem 0;
  background-color: #ff7518;
  height: 5px;
}

.option {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #e9e9e9;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px #7a7a7a7c;
}

.option h5 {
  margin: 0;
}

.option i:first-child {
  margin-right: 1rem;
  color: #ff7518;
}

.option i:last-child {
  color: #00aaf0;
}

.problemImageContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
}

.problemImageContainer img {
  width: 70%;
}

@media screen and (max-width: 992px) {
  .problem {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width: 95%;
    margin: 0 auto;
  }

  .problem hr {
    width: 25%;
    margin: 2rem 0;
    background-color: #ff7518;
    height: 5px;
  }

  .option {
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #e9e9e9;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px #7a7a7a7c;
  }

  .option h5 {
    margin: 0;
  }

  .option i:first-child {
    margin-right: 1rem;
    color: #ff7518;
  }

  .option i:last-child {
    color: #00aaf0;
  }
}
