.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  margin: 2rem auto;
}

.grid i {
  color: #00aaf0;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.grid h3 {
  color: #00aaf0;
  font-weight: bold;
  font-size: 2.2rem;
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 1rem auto;
  }

  .grid > div {
    margin: 1rem 0;
  }

  .grid h3 {
    font-size: 2rem;
  }
}
