.comparison {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #2e2e2e;
  min-height: 60vh;
}

.comparisonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comparisonSection h2 {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.comparisonSection:nth-child(even) h2:nth-child(odd) {
  color: #2e2e2e;
}

.black {
  color: #2e2e2e;
}

.comparisonSection h2 span {
  color: #ff7518;
}

.comparisonSection:nth-child(even) h2 span {
  color: #00aaf0;
}

.comparisonSection ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comparisonSection ul li {
  color: #fff;
  font-size: 1.5rem;
}

.comparisonSection:nth-child(odd) ul li i {
  margin-right: 20px;
  color: #ff7518;
}

.comparisonSection:nth-child(even) ul li i {
  margin-right: 20px;
  color: #00aaf0;
}

.comparisonSection:first-child {
  background-color: #2e2e2e2e;
  background-image: url('/static/chapters_texture_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comparisonSection:last-child {
  background-color: #fff;
  background-image: url('/static/chapters_texture_light.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comparisonSection:last-child ul li {
  color: #2e2e2e;
}

@media screen and (max-width: 992px) {
  .comparison {
    grid-template-columns: 1fr;
    min-height: auto;
  }

  .comparisonSection {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 75px 20px;
  }

  .comparisonSection h2 {
    color: #fff;
    font-weight: 700;
    color: #00aaf0;
    font-size: 3rem;
  }

  .comparisonSection ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .comparisonSection ul li {
    color: #fff;
    font-size: 1.5rem;
  }

  .comparisonSection ul li i {
    margin-right: 20px;
    color: #00aaf0;
  }

  .comparisonSection:first-child {
    background-color: #2e2e2e2e;
    background-image: url('/static/chapters_texture_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .comparisonSection:last-child {
    background-color: #fff;
    background-image: url('/static/chapters_texture_light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .comparisonSection:last-child ul li {
    color: #2e2e2e;
  }
}
